@import 'normalise';

html {
  box-sizing: border-box;
  width: 100%;
    height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: black;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url('./rings.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.myHeading {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: 'Allura', cursive;
    font-size: 90px;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
}
.subtext {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    text-align: left;
}

.myHeading__letter {
    display: inline-block;
    position: relative;
}